@charset "UTF-8";


.grid-reply {
	display: grid;
	grid-template-columns: 1fr 9fr 1fr;
	border: 1px solid yellow;
}


.red{
	color: red;
}

.p-t40{
	padding-top: 40px;
}

.reply-body{
	display: grid;
	grid-template-columns: 1fr 15fr 2fr 1fr;

}

.mainContent{
	padding-left: 20px;
}
.grid-read-head{
	display: grid;
	grid-template-columns: 2fr 6fr 2fr 1fr 1fr;
	padding-left: 30px;
}
.grid-read-body{
	display: flex;
	justify-content: space-between;
	padding-right: 20px;
	padding-left: 20px;
}
.grid-read-foot{
	padding: 20px;
}
.read-title{
	text-align: left;
}