@charset "UTF-8";

/* * {
    box-sizing: border-box;
} */

body{
	margin: 0;
}

#chImage {
	overflow: hidden;
	position: relative;
    background-image: linear-gradient(to right, rgba(27, 27, 27, 0.989) , rgba(255, 255, 255, 0) 50%);
	width: 360px;
    
}

#chImage > img {
	position: absolute;
	width:130%;
    top: -20px;
    /* left: 20px; */
	height:auto;
    z-index : -1;
}

#chImage > text {
    padding-left: 15px;

}

#chImage > h4 {
    line-height: 40px;
	padding-left: 15px;
    display: block;
    font-weight: 200;
}

#chImage > div {
	padding-left: 15px;
    display: block;
}
#chImage > h1 {
	padding-left: 15px;
    padding-bottom: 40px;
    display: block;
    margin: 0;
}

#chImage > h3 {
	padding-left: 15px;
    display: block;
    margin: 0;

}

#chImage > div {
	padding-left: 15px;
    display: block;
    margin: 0;
    
}

#chImage > span {
    text-indent: 15px;
    margin-left: 15px;
}
#backBoard{
    display: flex;
    padding-top: 68px;
    justify-content: center;
    align-items: center;
}


#inBoard {
	display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1200px;
   	

}

#rs {
    width: 400px;
    height: 1500px;
    display: flex;
    flex-direction: column;
}

#rs > div {
    margin: 10px;
}

#ls {
    width: 800px;
    height: 1300px;
    display: flex;
    flex-direction: column;
}

#ls > div {
    margin: 10px;
}

#equi{
    display: grid;
    grid-template-columns: repeat(2,minmax(1px,1fr));
    background-color: #42464D;
}

#equi > div{
   margin: 2px;
}

#gem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #42464D;
}

#gem-list {
    width: 740px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}


#gem-list > div {
    width: 44px;
    display: ruby;
}

#property{
    display: flex;
    flex-direction: row;
}

#characteristic{
    width: 370px;
    height: auto;

}

#engrave{
    display: flex;
    width: 370px;
    height: auto;
    justify-content: space-between;
    flex-direction: column;
}

#card{
    height: 247px;
}

#chImage{
    height: 300px;
}

#rank{
    height: 70px;
}

#eta{
    height: 550px;
}

#states-etc{
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    grid-column-gap: 15px;
}

#l7{
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
}

#r6 {
    height: 50px;
}

#r7 {
    height: 50px;
}

#states{
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    grid-column-gap: 10px;

}

#cards {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-column-gap: 25px;
}

#cards > div {
    position: relative;
    overflow: hidden;
    height: 150px;
}


.div-m10 {
    margin-left: 10px;
}
/* class 변환*/
.eq-l{
     /* position: absolute; */
     background-image: linear-gradient(to right, rgba(27, 27, 27, 0.345) , rgba(255, 255, 255, 0));
     /* z-index : -1; */
     background-color: #E3C7A1;
}

.eimg-div{
    font-weight: 700;
    font-size: .75rem;
    line-height: 0.6rem;
}

.eq-img{
    overflow: hidden;
	/* position: relative; */
    width: 50px;
    border-radius: 10px;
    text-align: center;
    color: white;
}



.eq {
    display: flex;
    flex-direction: row;
    height: 68px;
    padding-left: 15px;
    box-sizing: content-box;
    padding-top: 15px;
}

.eq-tooltip{
    padding-left: 15px;
    margin: 0;
}


#r1 { 
    display: flex;
    flex-direction: row;
    height: 68px;
    padding-left: 15px;
    box-sizing: content-box;
    padding-top: 15px;
} 

.list-def{
    display: flex;
    flex-direction: row;
    height: 68px;
    padding-left: 15px;
    box-sizing: content-box;
    padding-top: 15px;
}
.p15-m0{
    padding-left: 15px;
    margin: 0;
}

font{
    color: #FFD200;
    font-size: 0.8rem;
}

.p-m0{
    padding: 0;
    margin: 0; 
}

.b-1p { 
	border: 1px solid rgba(178, 178, 178, 0.281);
    /* box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.387); */
}

.radius{
    border-radius: 15px;
}

.jc-sb {
    justify-content: space-between;
}

.pd-15{
    padding: 15px;
}
.pd-10{
    padding: 10px;
}
.pd-b-5{
    padding-bottom: 5px;
}
.pd-b-10{
    padding-bottom: 10px;
}
.ma-10 {
    margin: 10px;
}

.white_text {
    color: white;
}

.w-h50{
    width: 50px;
    height: 50px;
}

.w-h44{
    width: 44px;
    height: 44px;
}

.w-h20{
    width: 20px;
    height: 20px;
}

.w-h33{
    width: 33px;
    height: 33px;
}
.bc-1{
    background-color: #f1c40f;
}

.image-box-text{
    color: rgb(27, 27, 27);
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    width: 2.8rem;
    font-size: 12px;
    height: 1.1rem;
    display:inline-block;
    text-align: center;
    line-height: 20px;
}

p{
    align-self: start;
}

.overflow-h{
    overflow: hidden;
}

.gem-font{
    font-size: 10px;
}

.eqi-EngraveName{
    color: white;
    font-size: 12px;
    padding: 0;
    margin: 0;
    margin-top: 6px;
}

.eqi-EngravePoint{
    color: white;
    font-size: 12px;
}

.eqi-StatePoint{
    color: white;
    font-size: 14px;
    font-weight: 300;
}

.item-coloer-1{
    background: linear-gradient(135deg,#3b1303,#a23405);
}

.item-coloer-2{
    background: linear-gradient(135deg,#3c2201,#a86200);
}

.item-coloer-3{
    background: linear-gradient(135deg,#261331,#480d5d);
}

.item-coloer-4{
    background: linear-gradient(135deg,#111f2c,#113d5d);
}

.item-coloer-5{
    background: linear-gradient(135deg,#18220b,#304911);
}


.item-coloer-6{
    background: linear-gradient(135deg,#232323,#575757);
}

.item-coloer-7{
    background: linear-gradient(135deg,#0c2e2c,#2faba8);
}

.item-coloer-1-p{
    background-color: rgb(249, 146, 0);
}

.item-coloer-2-p{
    background-color: rgb(206, 67, 252);
}

.item-coloer-3-p{
    background-color: rgb(0, 176, 250);
}

.item-coloer-4-p{
    background-color: rgb(141, 249, 1);
}

.item-coloer-5-p{
    background-color: rgb(240, 215, 28);
}

.item-coloer-6-p{
    color: rgb(255, 0, 0);
}

.card-name-g-1{
    color: rgb(249, 146, 0);
}

.card-name-g-2{
    color: rgb(206, 67, 252);
}

.card-name-g-3{
    color: rgb(0, 176, 250);
}

.card-name-g-4{
    color: rgb(141, 249, 1);
}



.card-pos-1{
    position: absolute;
    top: -3px;
    left: -1px;
    height: 154px 
}

.card-pos-2{
    position: absolute;
    top: -5px;
    left: -117px;
    height: 156px;
}

.card-pos-3{
    position: absolute;
    top: -3px;
    left: -228px;
    height: 154px;
}

.card-pos-4{
    position: absolute;
    top: -3px;
    left: -341px;
    height: 154px;
}

.card-pos-5{
    position: absolute;
    top: -3px;
    left: -454px;
    height: 154px 
}

.gem-radius{
    border-radius: 10px;
}

.al-center{
    align-self: center;
}

.gem-hidden{
    display: none;
}
.chid-al-center{
    align-items: center;
}

.gem-select{
    border: 2px solid white;
    margin: 0;;
}

.coloer-select{
    background-color: #262626;
    width: 740px;
    padding: 10px;
}

.radius100{
    border-radius: 100%;
}

.flex-dir-c {
	display: flex;
    flex-direction: row;
}

.color-back {
    background-color: #42464D;

}

.t-indent {
    text-indent : 20px;
    line-height: 2.4rem;
    display: block;

}

.dis-flex{
    display: flex;
}


.bold700{
    font-weight: 700;
}

.align-right{
    text-align:right;
}

.jc-sb{
    justify-content: space-between;
}

.progress-bar {
    margin-top: 5px;
    width: 80%;
    height: 5px;
    background-color: #dedede;
    font-weight: 600;
    font-size: .8rem;
}

.magin-b10{
    margin-bottom: 10px;
}

.progress-bar .progress {
   
    width: 100%;  
    height: 5px;
    padding: 0;
    text-align: center;
    background-color: #282828;
    color: #111;
}

.state-title{
    margin-bottom: 15px;
    background-color: #262626;
    color: #dedede;
    border-radius: 20px;
    text-align: center;
    padding: 5px;
    font-size: 15px;
    font-weight: 700;
}

.cards-size{
    width: 100px;
    height: auto;
    position: absolute;
}

.card-name{
    position: relative;
    font-size: 12px;
    top: 11px;
    text-align: center;
}

.awake-back{
    background: url(https://cdn-lostark.game.onstove.com/2018/obt/assets/images/pc/profile/img_profile_awake.png?3de24b2…) 2px 0px no-repeat;
    height: 30px;
    position: absolute;
    top: 108px;
    background-size: 90px;
    left: 4px;
}

.awake-front{
    background: url(https://cdn-lostark.game.onstove.com/2018/obt/assets/images/pc/profile/img_profile_awake.png?3de24b2…) 2px -27px no-repeat;
    height: 30px;
    position: absolute;
    top: 108px;
    background-size: 90px;
    left: 4px;
}

.card-states{
    background-color: #262626;
    padding: 15px;
}

.card-states-back{
    display: grid;
    grid-column-gap: 15px;
}

.magin-t6{
    margin-top: 6px;
}

.magin-r10{
    margin-right: 10px;
}

.minus-color{
    color: rgb(255 95 95);
}

.trans-img-pos{
    position: relative;
    top: 4px;
}