#topfix {
	position: fixed;
	top: 0%;
	left: 0%;
	background-color: #42464D;
	height: 68px;
}

.flex-test {
	min-width: 100vw;
	display: flex;
	justify-content: space-between;
}

body {
	min-width: 100vw;
	height: 100vh;
	background-color: gray;
}

#botfix {
	background-color: gray;
}

#top-tab1 {
	padding-right: 20px;
	padding-left: 40px;
	background-color: red;
}

#top-tab2 {
	background-color: green;
}

#top-tab3 {
	padding-right: 24px;
	background-color: skyblue;
}

.include-top {
	padding-top: 68px;
}

.include-top>* {
	margin: 0 auto;
}

.item-center {
	display: flex;
	align-items: center;
}