* {
	box-sizing: border-box;
}
.w-1120px {
	width: 1120px;
}

.h-280px {
	height: 280px;
}

.font-24{
	font-size: 24px;
}
.font-20{
	font-size: 18px;
}
.font-16{
	font-size: 16px;
}
#topfix {
	position: fixed;
	top: 0%;
	left: 0%;
	background-color: #42464D;
	height: 68px;
	z-index: 99;
}

.flex-test {
	min-width: 100vw;
	display: flex;
	justify-content: space-between;
}

body {
	min-width: 100vw;
	height: 100vh;
	background-color: #2b2d31;
}

#top-tab1 {
	padding-right: 20px;
	padding-left: 40px;
}

#top-tab2 {
	background-color: #42464D;
}

#top-tab3 {
	padding-right: 24px;
}

.include-top {
	padding-top: 68px;
}

.include-top>* {
	margin: 0 auto;
}

.item-center {
	display: flex;
	align-items: center;
}
.text-center{
	align-items: center;
	text-align: center;
	line-height : 35px;
	padding-top: 25px;
}
.text-center2{
	align-items: center;
	text-align: center;
}
.p-t10{
	padding-top: 10px;
}
.p-b10{
	padding-bottom: 10px;
}
.p-t15{
	padding-top: 15px;
}

.top-text {
	width: 300px;
	height: 32px;
	font-size: 15px;
	border: 2px #B9BBBE solid;
	border-radius: 10px;
	outline: none;
	padding-left: 10px;
	background-color: #42464D;
	align-items: center;
	display: flex;
}

.top-box {
	font-size: 15px;
	border: 0;
	outline: none;
	padding-left: 10px;
	background-color: #42464D;
	color: #B9BBBE;
	font-weight: bold;
}

.tab2>div {
	padding-right: 40px;
}

.search {
	color: #B9BBBE;
}

.dark{
	display: none;
}
.light{
	display: block;
}
.cursor{
	cursor: pointer;
}
.bold{
	font: bold;
}
.flex-just-center{
	display: flex;
	justify-content: center;
}
.justify-between{
	justify-content: space-between;
}
.underline-none{
	text-decoration: none;
}
.mainWhite{
	color: #eaf0ec;
}
.mainPurple{
	color: #8045dd;
}

.hide{
	display: none;
}
.show{
	display: block;
}
.login-admin{
	visibility: hidden;
}

.tab3>*{
	padding-left: 20px;
}

.slider1 {
  position: relative;
  overflow: hidden;
  
  width: 1120px;
  height: 280px;
}

.slide1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;

  animation: slider1 7.5s infinite linear;
}

.slide1:nth-child(1) {
  background-image: url(https://cdn.korlark.com/artworks/home/488811896510808360.webp?t=1695484641000);
  animation-delay: 0;
}
.slide1:nth-child(2) {
  background-image: url(https://cdn.korlark.com/artworks/home/509107984186712397.webp?t=1698938628000);
  animation-delay: -2.5s;
}
.slide1:nth-child(3) {
  background-image: url(https://cdn.korlark.com/artworks/home/417333464422097379.webp?t=1689753032000);
  animation-delay: -5s;
}

@keyframes slider1 {
  0% {
    transform: translateX(0);
  }

  26% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-100%);
    animation-timing-function: step-end;
  }
  93% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}


@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.dropdown{
  position : relative;
  display : inline-block;
}

.dropbtn_icon{
  font-family : 'Material Icons';
}
.dropbtn{
  border : 1px solid rgb(37, 37, 37);
  border-radius : 4px;
  background-color: #f5f5f5;
  font-weight: 400;
  color : rgb(37, 37, 37);
  padding : 12px;
  width :200px;
  text-align: left;
  cursor : pointer;
  font-size : 12px;
}
.dropdown-content{
  display : none;
  position : absolute;
  z-index : 1; /*다른 요소들보다 앞에 배치*/
  font-weight: 400;
  background-color: #f9f9f9;
  min-width : 200px;
}

.dropdown-content a{
  display : block;
  text-decoration : none;
  color : rgb(37, 37, 37);
  font-size: 12px;
  padding : 12px 20px;
}

.dropdown-content a:hover{
  background-color : #ececec
}

.dropdown:hover .dropdown-content {
  display: block;
}
