/* * {
	box-sizing: border-box;
} */

.header{
	position: fixed;
	display : flex;
	background-color: gray;
	height: 68px;
	width: 100%;
	align-items : center;
	justify-content: center;
	border-bottom: 2px solid #e5e7eb;
	
}

.header > div{
	align-content: 18px;
}

body {
	margin: 0;
	padding: 0;
}

#topfix {
	display: flex;
	grid-template-columns : 50px 1fr 1fr 1fr 4fr 30px; 
}

#showbox{
	width: 20px;
}