#body2 {
	padding-top: 68px;
}

.w-1120px {
	width: 1120px;
	border: 1px yellow solid;
}

.h-280px {
	height: 280px;
}

.m-div2 {
	height: 100px;
}

.m-div3 {
	height: 300px;
}

.banner {
	display: none;
}

.bannerShow {
	display: block;
}

.flex {
	display: flex;
	margin: 0 auto;	
}

.justify-between {
	justify-content: space-between;
}
.w-550h-280{
	width: 550px;
	height: 280px;
}
.m-top40{
	margin-top: 40px;	
}
.grid{
	display: grid;
	grid-template-rows: 1fr 4fr;
}
.w-550h-280>div{
	border: 1px red solid;
}
.h-320px{
	height: 320px;
}

.bold{
	font: bold;
}
.font-20{
	font-size: 20px;
}

<!-- -->

.slider {
  position: relative;
  overflow: hidden;
  
  width: 1120px;
  height: 280px;
  z-index: -1;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;

  animation: slider 12s infinite linear;
}

.slide:nth-child(1) {
/* 카멘 */
  background-image: url(https://cdn.korlark.com/artworks/home/488811896510808360.webp?t=1695484641000);
  animation-delay: 0;
}
.slide:nth-child(2) {
  background-image: url(https://cdn.korlark.com/artworks/home/509107984186712397.webp?t=1698938628000);
  animation-delay: -3s;
}
.slide:nth-child(3) {
  background-image: url(https://cdn.korlark.com/artworks/home/417333464422097379.webp?t=1689753032000);
  animation-delay: -6s;
}
.slide:nth-child(4) {
  background-image: url(https://cdn.korlark.com/artworks/home/526277166854538395.webp);
  animation-delay: -9s;
}

@keyframes slider {
  0% {
    transform: translateX(0);
  }

  15% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-100%);
    animation-timing-function: step-end;
  }
  90% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}