@charset "UTF-8";

.grid-board>div {
	display: grid;
	grid-template-columns: 1fr 10fr 2fr 1fr 1fr;
}

.grid-board>div {
	border-bottom: 1px solid #eaf0ec;
	text-align: center;
}

.grid-board>div:nth-child(n+2):hover {
	background-color: #38393e;
}

.board-content {
	text-align: left;
	text-decoration: none;	
}

.round1{
	  width: 80px;
      height: 100px;
	  border-radius: 20%;
	  background-color:pink;
}

.white{
	color: white;
}

.pageNumber:link{
	color: #eaf0ec;		
}
.pageNumber:visited {
	color: #eaf0ec;
}